@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', 'Lora', serif, sans-serif;
}

/* Utility classes for font usage */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.font-lora {
  font-family: 'Lora', serif;
}
